.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.demo-card-wide.mdl-card {
  width: 550px;
  background-color:lightgrey;
}

.demo-card-wide > .mdl-card__title {
  color: rgb(175, 32, 32);
  height: 80px;
  align-self: center;
  /* padding-left: 30%; */
  /* background: url('./assets/logo.png'); */
}

.demo-card-wide > .mdl-card__supporting-text {
  padding-left: 7%;
}

.mdl-textfield__label__icon {
  position: absolute;
  right: 310px;
  top: 20px;
}

.mdl-checkbox__label {
  position: absolute;
  right: 360px;
  font-size: 16px;
  line-height: 20px;
}

.mdl-checkbox {
  position: relative;
  left: 100px;
  /* padding-bottom: 10px; */
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 2px;
  cursor: pointer;
}
.button2 {
  background-color: red;
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 2px;
  cursor: pointer;
}
.modal {
 z-index: 1000;
 position: fixed;
}